main{
    color: #FFFFFA;
    color: #0d5c63;
    color: #44a1a0;
    color: #78cdd7;
    color: #247b7b;

    color: #000000;
    color: #502f4c;
    color: #70587c;
    color: #c8b8db;
    color: #f9f4f5;

    color: #ebd4cb;
    color: #da9f93;
    color: #353a47;
    color: #b6465f;
    color: #4e878c;

    color: #132a13;
    color: #a3a9aa;
    color: #bbbbbf;
    color: #525174;
    color: #513b56;

    color: #ece2d0;
    color: #d5b9b2;
    color: #353a47;
    color: #a26769;
    color: #4e878c;

    color: #ccc7b9;
    color: #172a3a;
    color: #e2d4ba;
    color: #af7a6d;
    color: #653239;
}
