@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: #353a47;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background: #ffffff;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  padding: 32px;
  
  
}

.person {
  display: flex;
  align-items: flex-start;
}

.person__name {
  color: #9b384e;
  font-size: 36px;
  margin: 0px;
  font-weight: normal;
}

.person__position {
  font-size: 18px;
  color: #545454;
  margin: 0;
  font-style: italic;
}

.person__picture {
  border-radius: 50%;
  margin-right: 32px;
}

.person__info {
  margin-bottom: 24px;
}

.person__description {
  font-size: 16px;
  line-height: 22px;
}

.person__description--withMargin {
  margin-bottom: 22px;
}

.person__link {
  color: #9b384e;
  text-decoration: none;
}

.special {
  color: #277279;
  font-weight: normal;
}