@import "~normalize.css";

@import "modules/person.scss";

@import "modules/other.scss";

:root {
  --background-color: #353a47;
  --text-color: #9b384e;
}

body {
  background: var(--background-color);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background: #ffffff;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  padding: 32px;
}

