@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

:root {
  --background-color: #353a47;
  --text-color: #9b384e;
}

body {
  background: var(--background-color);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background: #ffffff;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  padding: 32px;
}

.person {
  display: flex;
  align-items: flex-start;
}

.person__name {
  color: var(--text-color);
  font-size: 36px;
  margin: 0px;
  font-weight: normal;
}

.person__position {
  font-size: 18px;
  color: #545454;
  margin: 0;
  font-style: italic;
}

.person__picture {
  border-radius: 50%;
  margin-right: 32px;
}

.person__info {
  margin-bottom: 24px;
}

.person__description {
  font-size: 16px;
  line-height: 22px;
}

.person__description--withMargin {
  margin-bottom: 22px;
}

.person__link {
  color: var(--text-color);
  text-decoration: none;
}

.special {
  color: var(--text-color);
  font-weight: normal;
}

.button {
  
  justify-content: flex-start;
  align-items: flex-start;
}

.personn__button {
  font-size: smaller;
  color: var(--text-color);
  background: none;
  margin-top: 10px;
  border-color: var(--background-color);
  border-radius: 30px;
  font-weight: normal;
}